* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

img {
  width: 100%;
  vertical-align: bottom;
  border: 0;
}
