.logout-content
  .i-chapter-containerrr
    %form.single-innerareaaa
      .l-single-content
        =link_to destroy_user_session_path, method: :delete do
          %button.logout-btn
            ログアウト
