.my-side
  .my-nav
    %ul.my-nav__list
      %li
        =link_to users_path(:id), class:"my-nav__list__item" do
          マイページ
          %i.icon-arrow
            
      %li
        =link_to  "#", class:"my-nav__list__item" do
          お知らせ
          %span.my-nav__number
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          やることリスト
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          いいね！一覧
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          出品する
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          出品した商品-出品中
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          出品した商品-取引中
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          出品した商品-売却済み
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          購入した商品-取引中
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          購入した商品-過去の取引
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          ニュース一覧
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          評価一覧
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          ガイド
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          お問い合わせ
          %i.icon-arrow
    %h3.my-nav__head
      メルペイ
    %ul.my-nav__list__one
      %li
        =link_to  "#", class:"my-nav__list__item" do
          売上・振込申請
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          ポイント
          %i.icon-arrow
    %h3.my-nav__head
      設定
    %ul.my-nav__list__two
      %li
        =link_to  "#", class:"my-nav__list__item" do
          プロフィール
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          発送元・お届け先住所変更
          %i.icon-arrow
      %li
        =link_to new_card_path(:id), class:"my-nav__list__item" do
          支払い方法
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          メール/パスワード
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          本人情報
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          電話番号の確認
          %i.icon-arrow
      %li
        =link_to  user_path(:id),method: :delete, class:"my-nav__list__item" do
          ログアウト
          %i.icon-arrow