.wrapper
  .default-container
    .bread-crumbsss
      %ul.breadcrumbss
        %li.breadcrumbss-item
          %a.pastlist{:href => "/"} メルカリ
          %i#bread-arrow
        %li.breadcrumbss-item.active{"aria-current" => "page"} マイページ
    .mypage-container
      =render "side-bar"
      =render "main"