%body.user-sign-up
  .sign_up
    .header
      .header__logo-box
        =link_to "＃" do
          = image_tag src='logo.png'
      %nav.progress-bar.signup-bar
        %ol.clearfix
          %li.first-phone
            会員情報
            .progress-status
          %li.second-phone
            電話番号認証
            .progress-status
          %li.third
            完了
            .progress-status

    %main.phone-main
      %section.phone-container
        .confirm 電話番号の確認
        %form.phone-input-form{action: "#", method: "POST", novalidate: "novalidate"}
          %input{name: "after_save_callback", type: "hidden", value: ""}/
          .phone-content
            .form-group
              %label{for: "phone_number"} 携帯電話の番号
              %input.input-default{name: "phone_number", placeholder: "携帯電話の番号を入力", type: "tel", value: ""}/
            %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
            %button.sns-btn{type: "submit"} SMSを送信する
            %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
            .form-group.text-right
              =link_to "/jp/help_center/article/244/", target: "_blank" do
                電話番号の確認が必要な理由
                %i.fas.fa-chevron-right
          %input{name: "__csrf_value", type: "hidden", value: "c59854c81adcdb96f8211f6b3d28f9bf6dad03c39591d74e8250d08e66dc424c8a7ec7455cd972b52ca3fa2532c87e50f7626f1cc5c987574d0e92e9219abdfda"}/
          %input{name: "id", type: "hidden", value: "486309664"}/
      = render "buys/second_footer"
   