.buys{
  background-color: #f5f5f5; 
  color: #333;
  line-height: 1;
}

.header{
  height: 128px;
  text-align: center;
  &__logo-box{
    display: inline-block;
    margin: 40px 0 0;
  }
  &__logo-box__logo{
    width: 185px;
    height: 49px;
    line-height: 49px;
    cursor: pointer;
  }
  img{
    width: 185px;
    height: 49px;
  }
}

.main-contents{
  &__inner{
    width: 700px;
    margin: 0 auto;
    background-color: white;
  }
  .buy-header{
    padding: 32px;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
  }
  .buy-item{
    padding: 24px 16px;
    border-top: 1px solid #f5f5f5;
    &__inner{
      max-width: 343px;
      margin: 0 auto;  
      .item-box{
        display: flex;
        &__img{
          height: 80px;
          width: 80px;
          min-width: 80px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          img {
            width: 80px;
          }
        }
        .detail{
          margin-left: 16px;
          &__item-name{
            font-size: 14px;
            margin: 0;
            padding: 0 0 8px;
            line-height: 1.5;
            text-align: left;
          }
          &__item-price{
            margin: 0;
            text-align: left;
            font-size: 15px;
            font-weight: 600;
          }
          &__shopping-fee{
            font-size: 12px;
          }
        }
      }
    }
  }


  .payment{
    padding-bottom: 48px; 
    text-align: center;
    padding: 32px 16px;
    border-top: 1px solid #f5f5f5;
    &__inner{
      max-width: 343px;
      margin: 0 auto;
      .buy-price-table{
        margin: 0;
        display: table;
        border-collapse: collapse;
        width: 100%;
        list-style: none;
        border-style: solid;
        border-width: 0;
        .buy-price-row{
          border: 0;
          font-size: 30px;
          display: table-row;
          font-weight: 600
        }
          .payment-amount{
            text-align: left;
            font-size: 18px;
            display: table-cell;
            padding: 0;
          }
            .buy-price-cell{
              display: table-cell;
              padding: 0;
              text-align: right; 
              font-size: 18px;
        }
      }
      .point-inner{
        color: #888;
        margin: 24px 0 32px;
        list-style: none;
        .checkbox-default{
          position: relative;
          font-size: 0;
          text-align: left;
          input {
            border: 0;
            outline: 0;
            font-family: inherit;
          }
          .icon-check{
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 1;
            width: 20px;
            height: 20px;
            border-radius: 2px;
            background: #ccc;
            border: 1px solid #ccc;
            font-size: 10px;
            line-height: 17px;
            text-align: center;
            color: #fff;
            vertical-align: middle;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
          }
          label {
            position: relative;
            z-index: 2;
            padding: 0 0 0 28px;
            font-size: 14px;
            font-weight: 400;
            vertical-align: middle;
          }
        }
      }
    }
  .buy-content{
    padding: 32px 0;
    border-top: 1px solid #f5f5f5;
    text-align: left;
    &__inner{
      max-width: 343px;
      margin: 0 auto;
      h1{
        font-size: 14px;
        font-weight: bold;
      }
      a{
        text-decoration: none ;
      }
      .buy-user-info-text{
        line-height: 1.5;
        text-align: left;
        margin: 8px 0 0;
        font-size: 14px;
        color: #0099e8;
        
        i{
          font-size: 14px;
          display: inline-block;
          width: 14px;
          height: 14px;
          }
        span{
          display: inline-block;
          text-decoration: none;
          margin: 0 0 0 4px;
        }
      }
    }
  }
    .purchase{
      padding: 32px 0;
      border-top: 1px solid #f5f5f5;
      button{
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
        order: 1px solid #888;
        background: #888;
        color: #fff;
      } 
    }  
  }
}

.single-footer {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  .clearfix {
    li {
      display: inline-block;
      margin: 0 0 0 16px;
      font-size: 12px;
      a {
        display: block;
        color: #333;
        text-decoration: none;
      }
    }
  }
  .footer__logo {
    max-width: 160px;
    width: 100%;
    margin: 40px auto 0;
  }
  p{
    font-size: 14px;
  }
}