.main {
  background-color: #f8f8f8;
}

.bread-crumbs {
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  box-sizing: border-box;
  ul {
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    li {
      padding: 0 10px 0 0;
      float: left;
      a {
        text-decoration: none;
        color: #333;
      }
      a:hover {
        color: #3CCACE;
      }
    }
    li:last-child {
      font-weight: bold;
    }
  }
  ul:after {
    display: block;
    content: "";
    clear: both;
  }
}

.show-main {
  padding: 40px;
  margin: 0 auto;
  .content-right {
    width: 700px;
    margin: 0 auto;
    .item-box {
      background-color: #fff;
      padding: 24px 40px 40px;
      &__name {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
      }
      &__body {
        margin: 16px 0 0;
        .product-detail__top__item-image {
          display: flex;
          position: relative;
          &-main {
            display: flex;
            flex-direction: column;
            width: 560px;
            align-items: center;
            margin: 0 auto;
            transition: opacity 400ms ease;
            &--photo {
              object-fit: cover;
              height: 346px;
              &:not(:first-of-type) {
                display: none !important;
              }
            }
            & img {
              object-fit: contain;
            }
          }
          &-list {
            width: 300px;
            height: 120px;
            &__inner {
              width: 20%;
              height: 60px;
              float: left;
              opacity: 0.4;
              flex-wrap: wrap;
              flex-direction: row;
              & img {
                object-fit: cover;
                cursor: pointer;
              }
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
      &__price {
        margin: 24px 0 24px;
        text-align: center;
        display: flex;
        flex-direction: column;
        .price {
          font-size: 46px;
          font-weight: bold;
          margin: 0 10px 0 0;
        }
        &-detail {
          font-size: 16px;
        }
      }
      &-btn{
        display: flex;
        &-edit{
          background: #3CCACE;
          display: block;
          margin: 16px;
          background: #3CCACE;
          color: #fff;
          line-height: 56px;
          text-align: center;
          font-weight: 600;
          transition: all ease-out .3s;
          font-size: 24px;
          line-height: 60px;
          text-decoration: none;
          width: 45%;
        }
        &-delete{
          background: #3CCACE;
          display: block;
          margin: 16px;
          background: #3CCACE;
          color: #fff;
          line-height: 56px;
          text-align: center;
          font-weight: 600;
          transition: all ease-out .3s;
          font-size: 24px;
          line-height: 60px;
          text-decoration: none;
          width: 45%;
        }
        &__buy-btn {
          display: block;
          margin: 16px 0;
          background: #3CCACE;
          color: #fff;
          line-height: 56px;
          text-align: center;
          font-weight: 600;
          transition: all ease-out .3s;
          font-size: 24px;
          line-height: 60px;
          text-decoration: none;
          width: 100%;
        }
      }
      .item-detail {
        line-height: 1.5;
        font-size: 18px;
        margin-bottom: 30px;
      }
      .item-table {
        margin-bottom: 20px;
        table {
          width: 100%;
          height: 375px;
          border-collapse: collapse;
          border: 1px solid #f8f8f8;
          th {
            width: 20%;
            background-color: #eee;
            font-weight: 400;
            padding: 8px;
            border: 1px solid #dedede;
            font-size: 14px;
            text-align: center;
          }
          td {
            width: 61%;
            padding: 15px 15px;
            border: 1px solid #dedede;
            font-size: 14px;
            a {
              text-decoration: none;
              color: #3CCACE;
            }
          }
        }
      }
      .optional-area {
        display: flex;
        justify-content: space-between;
        ul {
          margin: 10px 0 0;
          display: flex;
          .like-btn {
            margin-right: auto;
            padding: 6px 10px;
            border-radius: 40px;
            color: #3CCACE;
            border: 1px solid #ffb340;
          }
        }
        .optional {
          margin: 10px 0 0;
          display: flex;
          .optional-btn {
            font-size: 14px;
            a {
              padding: 6px 10px;
              display: inline-block;
              border-radius: 4px;
              color: #333;
              border: 1px solid #333;
              text-decoration: none;
            }
          }
        }
      }
    }
    .comment-box {
      padding: 24px;
      background-color: #fff;
      margin: 10px 0;
      text-align: center;
      textarea {
        width: 100%;
        min-height: 104px;
        padding: 10px;
        box-sizing: border-box;
      }
      .notice-msg {
        padding: 8px;
        font-size: 14px;
        background-color: #f8f8f8;
        margin: 10px 0;
        text-align: left;
      }
      .comment-btn {
        line-height: 48px;
        background: #3CCACE;
        border: 1px solid #3CCACE;
        color: #fff;
        width: 60%;
        font-size: 18px;
        border-radius: 100px;
      }
    }
    .links li {
      float: left;
      a {
        text-decoration: none;
        color: #3CCACE;
      }
    }
    .links li:last-child {
      float: right;
    }
    .links:after {
      display: block;
      content: "";
      clear: both;
    }
    .related-items a {
      display: block;
      margin: 24px 0 8px;
      color: #3CCACE;
      text-decoration: none;
      font-weight: bold;
      font-size: 22px;
      position: relative;
    }
  }
}
