.itembutton-container__left{
  &__dislike{
    margin-right: auto;
    padding: 6px 10px;
    border-radius: 40px;
    color: #3CCACE;
    border: 1px solid #ffb340;
    a{
      text-decoration: none;
      color: #3CCACE;
    }
  }
  &__like{
    margin-right: auto;
    padding: 6px 10px;
    border-radius: 40px;
    color: #3CCACE;
    border: 1px solid #ffb340;
    a{
      text-decoration: none;
      color: #3CCACE;
    }
  }  
}   
    