.wrapper
  .default-container
    =render "products/header_login"
    .bread-crumbsss
      %ul.breadcrumbss
        %li.breadcrumbss-item
          =link_to root_path, class:"pastlist" do
            トップページ
          %i#bread-arrow
        %li.breadcrumbss-item
          =link_to users_path(:id), class:"pastlist" do
            マイページ
          %i#bread-arrow
        %li.breadcrumbss-item.active{"aria-current": "page"} 発送元・お届け先住所変更
    .mypage-container
      =render "users/side-bar"
      =render "address"
    =render "products/app_banner"
    =render "products/footer"
    = render "products/sell_button"