.wrapper
  .default-container
    =render "products/header"
    .bread-crumbsss
      %ul.breadcrumbss
        %li.breadcrumbss-item
          =link_to root_path, class:"pastlist" do
            メルカリ
          %i#bread-arrow
        %li.breadcrumbss-item
          =link_to users_path(:id), class:"pastlist" do
            マイページ
          %i#bread-arrow
        %li.breadcrumbss-item
          =link_to new_card_path(:id), class: "pastlist" do
            支払い方法
          %i#bread-arrow
        %li.breadcrumbss-item.active{"aria-current": "page"} クレジットカード情報入力
    .mypage-container
      =render "users/side-bar"
      =render "register-credit"
    =render "products/app_banner"
    =render "products/footer"
    = render "products/sell_button"