.wrapper
  .default-container
    =render "products/header"
    .bread-crumbsss
      %ul.breadcrumbss
        %li.breadcrumbss-item
          %a.pastlist{:href => "/"} メルカリ
          %i#bread-arrow
        %li.breadcrumbss-item
          %a.pastlist{:href => "/"} マイページ
          %i#bread-arrow
        %li.breadcrumbss-item.active{"aria-current" => "page"} 支払い方法
    .mypage-container
      =render "users/side-bar"
      =render "add-credit"
    =render "products/app_banner"
    =render "products/footer"