.wrapper
  .default-container
    =render "products/header_login"
    .bread-crumbsss
      %ul.breadcrumbss
        %li.breadcrumbss-item
          =link_to root_path, class:"pastlist" do
            トップページ
          %i#bread-arrow
        %li.breadcrumbss-item
          =link_to users_path(current_user.id), class:"pastlist" do
            マイページ
          %i#bread-arrow
        %li.breadcrumbss-item.active{"aria-current": "page"} 支払い方法
.deletecard-content
  .mypage-container
    =render "users/side-bar"
    =render "products/sell_button"
    .form-content
      .form-content__head
        支払い方法
      .form-content__middle
        %section
          .card-list
            クレジットカード一覧
          .payment-list
            %li
              .form-main
                .figure
                  -# = image_tag "ameexp.svg", alt: "ameexp", class: "ameexpc"
                .payment-nummber
                  = "**** **** **** " + @default_card_information.last4
                - exp_month = @default_card_information.exp_month.to_s
                - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                = exp_month + " / " + exp_year
                = form_for(@card, url: user_card_path(current_user.id), method: :delete, id: 'charge-form', name: "inputForm") do |f|
                  %input{ type: "hidden", name: "card_id", value: "" }
                  = f.submit "削除する", class:"delete-btn" 
        .method-of-payment
          %a{:href => "/jp/help_center/category/6/", :target => "_blank"}
            %span 支払い方法について
            .fas.fa-chevron-right

.payment-footer
  =render "products/app_banner"
  =render "products/footer"
