.logout-content{
  width: 700px;
  height: 179px;
  float: right;
  background-color: #ffffff;
}
.i-chapter-container{
  width: 700px;
  height: 179px;
}
.single-innerarea{
  padding: 64px;
  height: 100%;
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}
.l-single-content{
  max-width: 320px;
  margin: 0 auto;
  height: 100%;
}
.logout-btn{
  height: 100%;
  width: 100%;
  background-color: #3ccace;
  border: 1px solid #3ccace;
  color: #fff;
  font-size: 14px;
}